* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 100;
}
body {
	margin: 0;
	padding: 0;
	font-family: Aldrich, cursive;
	font-size: 1rem;
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	user-select: none;
	background: linear-gradient(to right, #6441a5, #2a0845);
	scroll-behavior: smooth;
}
ul.transition {
	display: flex;
	position: fixed;
	z-index: 100;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	pointer-events: none;
}
ul.transition li {
	transform: scaleY(0);
	background: #fff;
	width: 20%;
	list-style-type: none;
}
#canvas2 {
	position: absolute;
	top: 0;
	left: 0;
}
.section1 {
	width: 100vw;
	height: 100vh;
	/* display: flex; */
	/* position: absolute; */
	top: 0;
	left: 0;
	padding-top: 20vh;
	padding-left: 10vw;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.section1 div {
	z-index: 2;
}

#section2-container {
	margin-top: -500vh;
	display: none;
}
.section2 {
	display: flex;
	font-family: Poppins, sans-serif;
}
.section2 > div {
	width: 50%;
	height: 100vh;
}
.inverted-flex {
	flex-direction: row-reverse;
}
.left-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	padding: 10vh 10vw;
	z-index: 3;
}
.project-number {
	font-size: 3rem;
	margin-bottom: 2rem;
}
.project-name {
	font-size: 3rem;
	margin-bottom: 2rem;
}
.project-description {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.view-project {
	font-size: 1.5rem;
	text-decoration: underline;
	display: flex;
	align-items: center;
	cursor: pointer;
	width: max-content;
}
.view-project a {
	color: #fff;
}
.view-project svg {
	width: 1.5rem;
	margin-left: 6px;
	transition: 0.5s;
}
.view-project a:hover > svg {
	margin-left: 14px;
}
model-viewer {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
	overflow: hidden;
}
model-viewer#java {
	--poster-color: transparent;
}
model-viewer::part(default-progress-bar) {
	display: none;
}
.reverse-border-radius {
	border-radius: 0;
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;
}
#links {
	position: fixed;
	bottom: 4vh;
	right: 4vw;
	font-size: 26px;
	mix-blend-mode: difference;
	z-index: 10;
}
#links p {
	margin-bottom: 10px;
}
#links a {
	color: #fff;
	text-align: none;
	text-decoration: none;
}
.link-highlight {
	border-bottom: 2px solid;
}
.second {
	position: relative;
	transition: 0.3s;
}
.second::after {
	width: 0;
	left: 50%;
	height: 2px;
	background-color: #d3f3b9b6;
	position: absolute;
	content: "";
	top: 100%;
	transition: 0.3s;
}
.second:hover::after {
	width: 100%;
	left: 0;
}
.other-projects ul {
	margin-left: 20px;
}
.other-projects li {
	list-style-type: disc;
	font-size: 1.3rem;
	margin-bottom: 10px;
	cursor: pointer;
	width: max-content;
}
.other-projects li svg {
	width: 1.5rem;
	margin-left: 6px;
	transition: 0.5s;
}
.other-projects li:hover > svg {
	margin-left: 14px;
}
.other-h4-container {
	font-size: 1.1rem;
	margin-top: 20vh;
	position: sticky;
	top: 84vh;
}
.other-projects li a {
	text-decoration: none;
	color: #fff;
}
.about {
	font-family: Poppins, sans-serif;
	padding: 16vh 6vw;
	background-color: #fff;
	width: 100vw;
	overflow-x: hidden;
}
#img-and-info {
	display: flex;
	justify-content: space-between;
}
.about-left {
	position: relative;
	flex-basis: 40%;
}
.img-back-div {
	position: absolute;
	width: 36vw;
	height: 35vw;
	background-color: #23689b;
	top: 30px;
	left: 30px;
	z-index: 0;
}
.about-left img {
	width: 100%;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	z-index: 2;
}
.about-right {
	flex-basis: 50%;
}
h1 {
	font-weight: 800;
	font-size: 2.5rem;
	margin-bottom: 10px;
}
.about-right p {
	margin-bottom: 40px;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.5rem;
}
.social {
	margin-top: 30px;
	display: flex;
	align-items: center;
}
.social-links {
	display: flex;
}
.social-links a {
	width: 60px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	color: #000;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	transition: transform 0.5s;
	margin-right: 30px;
}
.social-links a .fab {
	font-size: 24px;
	line-height: 60px;
	position: relative;
	z-index: 10;
	transition: color 0.5s;
}
.social-links a::after {
	content: "";
	width: 0;
	height: 0;
	top: 30px;
	left: 30px;
	background: #000;
	background: radial-gradient(#6441a5, #2a0845);
	position: absolute;
	transition: 0.5s;
}
.social-links a:hover::after {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.social-links a:hover .fab {
	color: #fff;
}
.resume {
	width: 200px;
	height: 60px;
	box-shadow: 0 3px 6px 0 #00000040;
	position: relative;
	margin-left: 40px;
	z-index: 10;
}
.resume button {
	border-radius: 4px;
	outline: 0;
	cursor: pointer;
	border: none;
	width: 100%;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
	color: #23689b;
	z-index: 10;
}
.resume::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: #23689b;
	top: 8px;
	left: 8px;
	z-index: -1;
}
#arrow-down {
	font-size: 24px;
	margin-left: 4px;
	transform: translateY(-40px);
}
.resume a {
	text-decoration: none;
	color: #23689b;
	font-size: 1rem;
}
.link {
	color: #23689b;
}
.link:visited {
	color: #23689b;
}
.highlight {
	background-color: #ffec17;
	font-weight: 400;
	color: #000;
}
.highlight .link {
	color: #000;
	font-weight: 400;
}
#cards {
	margin-top: 120px;
}
#cards h2 {
	font-weight: 600;
	font-size: 2rem;
	margin-bottom: 30px;
}

.cards-container {
	display: flex;
	justify-content: space-around;
	margin-bottom: 60px;
	flex-wrap: wrap;
}
.one-card {
	box-shadow: 0 8px 40px 0 #0000000d, 0 4px 12px 0 #0000001f;
	width: 40%;
	padding: 34px 24px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	min-width: 400px;
	max-width: 600px;
	position: relative;
	overflow: hidden;
	user-select: none;
	z-index: 2;
	transition: 0.4s;
}
.one-card:hover {
	box-shadow: 0 1.5773361921310425px 2.462858200073242px 0 #00000000,
		0 3.790558099746704px 5.918591022491455px 0 #00000000,
		0 7.137284755706787px 11.144181251525879px 0 #00000000,
		0 12.731696128845215px 19.879314422607422px 0 #00000006,
		0 23.8132381439209px 37.182071685791016px 0 #0000000d,
		0 57px 89px 0 #00000017;
}
.one-card::after {
	content: url(../images/Union.png);
	position: absolute;
	top: -10%;
	left: -33%;
	z-index: -1;
}
.one-card h3 {
	margin-bottom: 20px;
	text-align: center;
	font-weight: 550;
	font-size: 1.8rem;
}
.one-card p {
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.5rem;
	margin-bottom: 10px;
	padding-right: 10px;
}
.link-and-logo {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 30px;
	align-items: center;
}
.link {
	background-color: #000;
	border: none;
	outline: 0;
	border-radius: 50px;
	width: 180px;
	height: 56px;
	font-size: x-large;
}
.link a {
	text-decoration: none;
	color: #fff;
}
.linke-container {
	display: flex;
	align-items: center;
}
.linke-container .strong {
	font-weight: 500;
}
.review-info {
	margin-left: 20px;
}
.logo img {
	width: 80%;
}
.one-card canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
#links-about {
	position: fixed;
	bottom: 4vh;
	right: 4vw;
	font-size: 26px;
	z-index: 10;
}
#links-about p {
	margin-bottom: 10px;
}
#links-about a {
	color: #000;
	text-decoration: none;
}
#links-about .link-highlight {
	border-bottom: 2px solid;
}
#links-about .second {
	position: relative;
	transition: 0.3s;
}
#links-about .second::after {
	width: 0;
	left: 50%;
	height: 2px;
	background-color: #000;
	position: absolute;
	content: "";
	top: 100%;
	transition: 0.3s;
}
#links-about .second:hover::after {
	width: 100%;
	left: 0;
}
.project {
	font-family: Poppins, sans-serif;
}
.project a {
	color: #00fff0;
}
.project #links a {
	text-decoration: none;
}
.project canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
.project .content-container {
	color: #fff;
	width: 80vw;
	z-index: 2;
	margin: 0 10vw;
	margin-top: 10vh;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(8px);
	padding: 60px 100px;
}
.video-container {
	width: 100%;
	display: flex;
	justify-content: center;
}
.content {
	margin-top: 40px;
}
.one-project-name {
	display: flex;
	align-items: flex-end;
}
.project h1 {
	margin-bottom: 0;
}
.one-project-link {
	margin-bottom: 4px;
	margin-left: 20px;
}
.content p {
	margin-top: 20px;
}
.content h3 {
	margin-top: 20px;
}
.content ul {
	margin-top: 10px;
	margin-left: 20px;
}
.content .extra-highlight {
	margin-top: 40px;
	padding-bottom: 4px;
	border-bottom: 1px solid;
}
@media screen and (max-width: 1200px) {
	#section2-container {
		margin-top: 0;
	}
}
@media screen and (max-width: 1000px) {
	#section2-container {
		margin-top: 0;
	}
	.reverse-border-radius,
	model-viewer {
		border-radius: 0;
	}
	.about {
		padding: 10vh 6vw;
	}
	#img-and-info {
		flex-direction: column;
	}
	.about-left img {
		width: 40%;
		margin-bottom: 40px;
	}
	.cards-container {
		flex-direction: column;
		align-items: center;
	}
	.one-card {
		margin-top: 30px;
		width: 60%;
	}
}
@media screen and (max-width: 800px) {
	.inverted-flex,
	.section2 {
		flex-direction: column-reverse;
	}
	.section2 > div {
		width: 100%;
	}
	.line2 img {
		display: none;
	}
	.brackets {
		display: none;
		overflow: hidden;
	}
	.other-projects .left-section {
		margin-top: 50px;
	}
	.other-h4-container {
		margin-top: 40px;
		margin-bottom: 4vh;
		width: 80%;
	}
	.project .content-container {
		width: 100vw;
		margin: 0;
	}
	.about-left img {
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.main-content {
		font-size: 1.5rem;
		line-height: normal;
	}
	.project .content-container {
		padding: 40px;
	}
	.one-card {
		width: 90%;
		min-width: fit-content;
	}
	.social {
		flex-direction: column;
		align-items: flex-start;
	}
	.resume {
		margin-top: 40px;
		margin-left: 0;
	}
	#arrow-down {
		transform: translate(0);
		opacity: 1;
	}
	.link-and-logo {
		flex-direction: column;
	}
	.logo {
		width: 50%;
		margin-top: 40px;
	}
	.logo img {
		width: 100%;
	}
}
