* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 100;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monda&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Montez", cursive;
	font-size: 1rem;
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	background: linear-gradient(to right, #6441a5, #2a0845);
}

#custom-cursor {
	position: fixed;
	width: 80px;
	height: 80px;
	border: 2px solid white;
	border-radius: 50%;
}

.section1 {
	width: 100vw;
	height: 100vh;
	display: flex;
	position: absolute;
	top: 20vh;
	left: 10vw;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.section1 div {
	z-index: 2;
}

@keyframes textup {
	from {
		transform: translateY(-100px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.main-content {
	color: white;
	font-size: 2rem;
	font-style: normal;
	line-height: 5.4rem;
	word-spacing: normal;
	font-family: "Aldrich", sans-serif;
}

.line1 {
	opacity: 0;
}

.line2 {
	opacity: 0;
	animation-delay: 300ms;
}
.line3 {
	opacity: 0;
	animation-delay: 600ms;
}

.line-animation {
	animation: textup 1s forwards;
}

.main-content h2 {
	font-size: 2em;
}

.margin40 {
	height: 5rem;
	margin-left: 40px;
}

.arrow {
	display: flex;
	justify-content: center;
}

.arrow img {
	width: 60px;
	height: 60px;
	margin-top: 20px;
}

.arrow2 {
	margin-top: 140px;
	display: flex;
	justify-content: center;
}

.arrow2 img {
	width: 60px;
	height: 60px;
	transform: rotateX(180deg);
}

.tantrum {
	position: relative;
	left: -6vw;
	top: -6vh;
}

.of {
	position: absolute;
	top: 0;
	left: 0;
}

.of * {
	top: 0;
	left: 0;
	position: absolute;
}

.of img {
	width: 140px;
}

.of h2 {
	top: 40px;
	left: 60px;
	/* font-size: 60px; */
}
.brackets {
	display: flex;
	align-items: center;
	margin-left: 40px;
}

.brac {
	height: 80px;
	overflow: hidden;
}

.brac img {
	height: 100%;
}

.brack-data {
	height: 80px;
	font-family: "Poppins", sans-serif;
	line-height: 30px;
	word-spacing: normal;
	letter-spacing: 0.1rem;
	margin-top: 20px;
}

.brackets p {
	margin: 0;
	font-size: 24px;
}

/* -------------- section 2 ------------------ */
#section2-container {
	margin-top: -400vh;
	z-index: 2000;
	display: none;
}
.section2 {
	display: flex;
	/* margin-top: -8px; */
	font-family: "Poppins", sans-serif;
}

.section2 > div {
	width: 50%;
	height: 100vh;
}

.left-section {
	/* background-color: #23689b; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* box-shadow: 0px 4px 4px 0px #00000040; */
	color: white;
	padding: 10vh 10vw;
	z-index: 2001;
}

.project-number {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.project-name {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.project-description {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.view-project {
	font-size: 1.5rem;
	text-decoration: underline;
	display: flex;
	align-items: center;
	cursor: pointer;
	width: max-content;
}

.view-project svg {
	width: 1.5rem;
	margin-left: 6px;
	transition: 0.5s;
}

.view-project:hover > svg {
	margin-left: 14px;
}

model-viewer {
	width: 100%;
	height: 100%;
	background-color: white;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	overflow: hidden;
}

model-viewer#java {
	--poster-color: transparent;
}

model-viewer::part(default-progress-bar) {
	display: none;
}

.reverse-border-radius {
	border-radius: 0;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.reverse-border-radius-less {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 0;
}

/* ---------- about ---------------- */
.about {
	font-family: "Monda", sans-serif;
	background-color: #f8f8f8;
	padding: 10vh;
	display: none;
}

.about > div {
	width: 50%;
}

.about-left-section {
	padding: 10vh 0;
}

.about-left-section img {
	width: 350px;
	margin: auto;
	display: block;
}

.about-left-section img::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #ffe733;
	bottom: -10px;
	left: -10px;
	border-radius: 20px;
	z-index: -1;
	transition: 0.8s;
}

.about-right-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10vh;
}

.about-right-section h2 {
	font-size: 3rem;
}

.about-right-section p {
	margin-top: 20px;
	font-size: 1.2rem;
}

/* socila */
.social {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.social-links {
	display: flex;
}

.social-links a {
	width: 60px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	color: #000;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	transition: transform 0.5s;
	margin-right: 30px;
}

.social-links a .fab {
	font-size: 24px;
	line-height: 60px;
	position: relative;
	z-index: 10;
	transition: color 0.5s;
}

.social-links a::after {
	content: "";
	width: 100%;
	height: 100%;
	top: -90px;
	left: 0;
	background: #000;
	background: linear-gradient(-45deg, #ed1c94, #ffec17);
	position: absolute;
	transition: 0.5s;
}

.social-links a:hover::after {
	top: 0;
}

.social-links a:hover .fab {
	color: #fff;
}

.resume {
	width: 200px;
	height: 40px;
	background-color: white;
	color: #23689b;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 3px 6px 0px #00000040;
	outline: none;
	cursor: pointer;
	position: relative;
}

.resume a {
	text-decoration: none;
	color: #23689b;
	font-size: 1rem;
}

.dummy {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: #23689b;
	bottom: -8px;
	right: -8px;
	z-index: -1;
}

.link {
	color: #23689b;
}

.link:visited {
	color: #23689b;
}

.highlight {
	background-color: #ffec17;
	font-weight: 400;
	color: black;
}

.highlight .link {
	color: black;
	font-weight: 400;
}

/* animation of div */
@keyframes ani {
	from {
		border-radius: 50%;
		width: 0;
		height: 0;
	}
	to {
		border-radius: 0;
		width: 100%;
		height: 100%;
	}
}

#div-animate {
	display: none;
	font-family: "Poppins", sans-serif;
}

.anim {
	position: fixed;
	background-color: white;
	left: 0;
	bottom: 0;
	animation: ani 0.6s 1;
	animation-fill-mode: both;
}

#div-animate > div {
	height: 100vh;
}

.animate-left-section {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.animate-left-section video {
	width: 80%;
}

.animate-left-section::after {
	position: absolute;
	content: "";
	width: 120px;
	height: 120px;
	background: #fec601;
	right: -60px;
	top: -60px;
	border-radius: 50%;
	z-index: -1;
}

.animate-left-section::before {
	position: absolute;
	content: "";
	width: 120px;
	height: 120px;
	background-color: #23689b;
	left: -60px;
	bottom: -60px;
	border-radius: 50%;
	z-index: -1;
}
.animate-right-section {
	width: 30%;
	position: relative;
}

.top {
	width: 100%;
	height: 10%;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	box-shadow: 0px 1px 2px 0px #00000040;
}

.middle {
	background-color: #f2f4f9;
	position: relative;
	padding: 10px 30px;
	height: 80%;
	overflow-y: scroll;
}

.messages-list {
	list-style-type: none;
}

.messages-list a {
	color: #0067dd;
	font-weight: 400;
	text-decoration: none;
}

.messages-list li {
	width: 70%;
	margin-top: 10px;
	border-radius: 10px;
	background-color: white;
	padding: 10px;
}

.message-left {
	position: relative;
	left: 0;
}

.suggestions {
	margin-top: 10px;
	border-radius: 10px;
	overflow: hidden;
}

.suggestions .message-left {
	margin-top: 0;
	border-radius: 0;
	border-bottom: 1px solid #ccc;
}

.message-right {
	position: relative;
	left: 30%;
}

.bottom {
	height: 10%;
	width: 100%;
	position: absolute;
	background-color: #f2f4f9;
	padding: 10px 20px;
	position: relative;
}

.bottom input {
	width: 100%;
	height: 100%;
	background: #f0f7ff;
	border: 2px solid #d3e7ff;
	border-radius: 40px;
	outline: none;
	padding-left: 10px;
	font-size: large;
}

#send-message-btn {
	position: absolute;
	right: 20px;
	top: 10px;
	width: 60px;
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
}

#send-message-btn img {
	width: 100%;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #0067dd;
	opacity: 1; /* Firefox */
}

@media screen and (max-width: 800px) {
	.arrow img {
		display: none;
	}
	.arrow2 {
		margin: 0;
		margin-top: 100px;
	}
	.arrow2 img {
		display: none;
	}

	.of h2 {
		top: 60px;
		left: 200px;
	}

	.brackets {
		display: none;
	}
	.of img {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.main-content {
		font-size: 1.5rem;
		line-height: normal;
	}
	.arrow2 {
		margin: 0;
		margin-top: 60px;
	}
	.of h2 {
		left: 120px;
	}
}

.inverted-flex {
	flex-direction: row-reverse;
}
